

<!--{% block title%}-->
<!--Maths-->
<!--{% endblock %}-->

<!--{% block content%}-->
<!--<h1 class="text-center">Maths</h1>-->
<!--<hr>-->

<!--<div class="container text-center bg-light">-->
<!--    {% for c in mathss %}-->
<!--    <div class="card text-center mx-3 my-3" style="width: 18rem; display:inline-block">-->
<!--        <img src="{{c.image.url}}" class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title"> {{c.name}}</h5>-->
<!--            <p class="card-text">{{c.description }}</p>-->
<!--&lt;!&ndash;            <h6>{{d.dep_name}} Department</h6>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--</div>-->

<!--{% endblock %}-->

<!DOCTYPE html>
<html>
<head>
<!--  <meta charset="utf-8">-->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--  <title>Department</title>-->
<!--  <meta name="description" content="">-->
<!--  <meta name="viewport" content="width=device-width,initial-scale=1">-->
<!--  <link rel="stylesheet" href="">-->
    <title>Maths</title>
    <script>
        function welcome() {

        window.open("https://en.wikipedia.org/wiki/Mathematics")
        }

    </script>
</head>
<body style=" text-align:center;">
<h1></h1>


</body>
</html>